<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="modules" type="Bedrock.Modularity.ModulesConfigurationSection, Bedrock"></section>
  </configSections>
  <modules>
    <module assemblyFile=".\MocksModules\MockModuleA.dll" moduleType="Bedrock.Tests.Mocks.Modules.MockModuleA" moduleName="MockModuleA" />
  </modules>
</configuration>
